[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain = "*"
python-dotenv = "*"
pypdf2 = "*"
streamlit-option-menu = "*"
chromadb = "*"
tiktoken = "*"
openai = "*"
pillow = "*"
easyocr = "*"
pypdf = "*"
wikipedia = "*"
lark = "*"

[dev-packages]

[requires]
python_version = "3.11"
